.footer-layout {
  background: #e6caff;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.bottom-ftr {
  /* position: relative; */
  width: 100%;
  /* bottom: 0; */
}

/* Footer bottom section layout css */
.footer-bottom-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 100%;
  padding: 10px 20px auto 20px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

/* made with ❤️ section */

.made-with-love {
  display: block;
  margin-top: 25px;
  letter-spacing: 4px;
  font-size: 20px;
}

/* Social Media Icons */
.social-media-icons {
  margin: auto;
  margin-top: 0px;
  margin-right: 0px;
  height: 100%;
}

.social-media-icons img {
  margin: 10px 10px 10px 10px;
  width: 50px;
  height: 50px;
}

/* Responsive CSS Code */

@media screen and (max-width: 768px) {
  .footer-bottom-layout {
    display: block;
  }

  .social-media-icons {
    text-align: right;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .left {
    grid-template-columns: 320px 2px;
  }
}
