/* main body */
.main-body {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* tagline and vector image combined */
.tagline-sec {
  align-items: center;
  margin-left: 40px;
  margin-top: 30px;
}

/*  */
.tagline p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  width: 90%;
  font-weight: 300;
}

/* Github Button */

.github-btn {
  background-image: linear-gradient(to right, #c42cbc, #8a20e9);
  border: none;
  border-radius: 7px;
  color: white;
  padding: 5px 10px;
}

.github-btn a {
  text-decoration: none;
  color: white;
  display: flex;
  text-align: center;
}

.github-txt {
  font-size: 1rem;
  letter-spacing: 5%;
  margin: 5px 5px;
  font-weight: 400;
}

.svg-img img {
  width: 100%;
}

/* Responsice CSS code */
@media screen and (max-width: 1024) {
  .vector-image {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 786px) {
  /* Vector Image */
  .tagline-sec {
    text-align: left;
    margin-top: 20%;
  }
}

@media screen and (max-width: 425px) {
  /* Vector Image */
  .svg-img img {
    display: none;
  }

  .tagline h1 {
    line-height: 50px;
  }

  .header-list {
    padding: 0;
  }

  .divide-line {
    display: none;
  }

  .events-blog {
    display: none;
  }

  .logo-name {
    padding-left: 15px;
  }

  .tagline-sec {
    margin-top: 10%;
  }
}
